/* Home.css */

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #16599c;
}

.centered-form {
  width: 400px; 
}

.login-form {
  border: 1px solid #cea3a3; 
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #aabaca;
}

.btn-primary {
  background-color: transparent !important;
  color: #0b65da !important;
  border-color: #5e7c9b !important;
}

.btn-primary:hover {
  background-color: #007bff !important;
  color: #836868 !important;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #082b52 !important;
  border-color: #0056b3 !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
