/* Main Page Container */
.main-page {
    display: flex;
    height: 100vh;
  }
  .dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  /* Sidebar */
  .sidebar {
    background-color: #2842b4;
    width: 250px;
    height: 100%;
    position: fixed;
    top:0;
    left: -250px;
    transition: left 0.3 ease;
    background-color: #143a61; 
  }
  
  .sidebar.show {
    left: 0;
  }
  .sidebar .h-100{
    height: 100%;
    background-color: #283a85;
  }
  
  /* Sidebar Links */
  .sidebar-links {
    padding-top: 20px;
  }
  
  .sidebar-links .nav-link {
    display: block;
    padding: 10 px 15px;
    color: #e5e6e9; 
    font-size: 18px;
    padding: 15px 20px;
    text-align: left;

  }
  .sidebar .nav-link:hover{
    background-color: #182458;
    color: #fff;
  }
  

  .main-content {
    background-color: #4d60b4;
    padding: 20px;
    
  }
  
  /* Dashboard Header */
  .dashboard-header {
    background-color:#283a85;
  }
  
 
  /* Content Cards */

  
  .content-card p {
    font-size: 16px;
    color: #6c757d; /* Gray text color */
  }
  
  /* Bar Chart */
  .main-col .content-card {
    height: 100px; /* Adjust height as needed */
  }
  .toggle-button {
    margin-bottom: 880px; /* Adjust margin as needed */
    border: none; /* No border */
    padding-left: 20px;
    font-size: 24px; /* Font size */
    cursor: pointer; /* Pointer cursor */
  }
  .toggle-button-bottom {
    margin-top: auto; /* Push button to the bottom */
    width: 100%; /* Full width */
    border-radius: 0; /* No border-radius */
    border-top-left-radius: 8px; /* Rounded corner for top-left */
    border-top-right-radius: 8px; /* Rounded corner for top-right */
    background-color: #495057; /* Background color */
    color: #fff; /* Text color */
    font-size: 18px; /* Font size */
    margin-top: 550px; /* Padding top and bottom */
    text-align: center; /* Center text */
    cursor: pointer; /* Pointer cursor */
  }
  